In [27]:
import pandas as pd
import numpy as np
from firebase import firebase
import time
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('saved_dataframe/df_pure_19_12_20.csv')
df

       Humidity  Temperature    UnixTime  Hour  Minute
0          72.0         34.6  1592667750    15      42
1          66.0         34.6  1592667761    15      42
2          66.0         34.6  1592667774    15      42
3          66.0         34.6  1592667784    15      43
4          66.0         34.6  1592667794    15      43
...         ...          ...         ...   ...     ...
14325      57.0         28.5  1594212012    12      40
14326      58.0         28.5  1594212022    12      40
14327      58.0         28.5  1594212033    12      40
14328      58.0         28.5  1594212043    12      40
14329      58.0         28.5  1594212054    12      40

[14330 rows x 5 columns]

In [10]:
input = 1594212054 + 60
df.iloc[(df['UnixTime'] - input).abs().argsort()[:1]]

       Humidity  Temperature    UnixTime  Hour  Minute
14329      58.0         28.5  1594212054    12      40

In [22]:
df_future = df = pd.DataFrame(columns = ['Humidity', 'Temperature', 'UnixTime', 'Hour', 'Minute', 
                                          'Humidity_Future', 'Temperature_Future', 'UnixTime_Future', 'Hour_Future', 'Minute_Future'])
print(df_future)

Empty DataFrame
Columns: [Humidity, Temperature, UnixTime, Hour, Minute, Humidity_Future, Temperature_Future, UnixTime_Future, Hour_Future, Minute_Future]
Index: []

In [ ]:
threshold = 60 * 60

for i, j in df.iterrows():
    input = j['UnixTime'] + threshold
    feature = df.iloc[(df['UnixTime'] - input).abs().argsort()[:2]]
    selected = feature.iloc[0]
    
    if abs(selected['UnixTime'] - j['UnixTime'] - input) > abs(feature.iloc[1]['UnixTime'] - j['UnixTime'] - input):
        selected = feature.iloc[1]
    
    if  selected['UnixTime'] == j['UnixTime']:
        break
        
    df_future = df_future.append({'Humidity' : j['Humidity'], 
                    'Temperature' : j['Temperature'], 
                    'UnixTime' : j['UnixTime'], 
                    'Hour' : j['Hour'], 
                    'Minute' : j['Minute'], 
                    'Humidity_Future' : selected['Humidity'], 
                    'Temperature_Future' : selected['Temperature'], 
                    'UnixTime_Future' : selected['UnixTime'], 
                    'Hour_Future' : selected['Hour'], 
                    'Minute_Future' : selected['Minute']},  
                   ignore_index = True) 
    print(i)

In [34]:
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [35]:
df_future

,Humidity,Temperature,UnixTime,Hour,Minute,Humidity_Future,Temperature_Future,UnixTime_Future,Hour_Future,Minute_Future
0,72.0000000000,34.6000000000,1592667750.0000000000,15.0000000000,42.0000000000,66.0000000000,33.5000000000,1592671351.0000000000,16.0000000000,42.0000000000
1,66.0000000000,34.6000000000,1592667761.0000000000,15.0000000000,42.0000000000,66.0000000000,33.5000000000,1592671362.0000000000,16.0000000000,42.0000000000
2,66.0000000000,34.6000000000,1592667774.0000000000,15.0000000000,42.0000000000,66.0000000000,33.5000000000,1592671372.0000000000,16.0000000000,42.0000000000
3,66.0000000000,34.6000000000,1592667784.0000000000,15.0000000000,43.0000000000,66.0000000000,33.5000000000,1592671382.0000000000,16.0000000000,43.0000000000
4,66.0000000000,34.6000000000,1592667794.0000000000,15.0000000000,43.0000000000,66.0000000000,33.5000000000,1592671393.0000000000,16.0000000000,43.0000000000
5,66.0000000000,34.6000000000,1592667805.0000000000,15.0000000000,43.0000000000,66.0000000000,33.5000000000,1592671403.0000000000,16.0000000000,43.0000000000
6,65.0000000000,34.7000000000,1592667815.0000000000,15.0000000000,43.0000000000,66.0000000000,33.5000000000,1592671413.0000000000,16.0000000000,43.0000000000
7,65.0000000000,34.7000000000,1592667825.0000000000,15.0000000000,43.0000000000,66.0000000000,33.5000000000,1592671424.0000000000,16.0000000000,43.0000000000
8,64.0000000000,34.8000000000,1592667857.0000000000,15.0000000000,44.0000000000,66.0000000000,33.5000000000,1592671456.0000000000,16.0000000000,44.0000000000
9,64.0000000000,34.9000000000,1592667877.0000000000,15.0000000000,44.0000000000,66.0000000000,33.5000000000,1592671477.0000000000,16.0000000000,44.0000000000
10,64.0000000000,34.8000000000,1592667898.0000000000,15.0000000000,44.0000000000,66.0000000000,33.5000000000,1592671497.0000000000,16.0000000000,44.0000000000
11,65.0000000000,34.8000000000,1592667909.0000000000,15.0000000000,45.0000000000,66.0000000000,33.5000000000,1592671508.0000000000,16.0000000000,45.0000000000
12,65.0000000000,34.8000000000,1592667919.0000000000,15.0000000000,45.0000000000,66.0000000000,33.5000000000,1592671518.0000000000,16.0000000000,45.0000000000
13,65.0000000000,34.8000000000,1592667930.0000000000,15.0000000000,45.0000000000,66.0000000000,33.5000000000,1592671528.0000000000,16.0000000000,45.0000000000
14,64.0000000000,34.8000000000,1592667940.0000000000,15.0000000000,45.0000000000,67.0000000000,33.5000000000,1592671539.0000000000,16.0000000000,45.0000000000
15,64.0000000000,34.8000000000,1592667950.0000000000,15.0000000000,45.0000000000,65.0000000000,33.5000000000,1592671549.0000000000,16.0000000000,45.0000000000
16,64.0000000000,34.8000000000,1592667961.0000000000,15.0000000000,46.0000000000,65.0000000000,33.5000000000,1592671559.0000000000,16.0000000000,45.0000000000
17,64.0000000000,34.8000000000,1592667971.0000000000,15.0000000000,46.0000000000,65.0000000000,33.5000000000,1592671570.0000000000,16.0000000000,46.0000000000
18,64.0000000000,34.8000000000,1592667982.0000000000,15.0000000000,46.0000000000,65.0000000000,33.5000000000,1592671580.0000000000,16.0000000000,46.0000000000
19,64.0000000000,34.8000000000,1592667992.0000000000,15.0000000000,46.0000000000,65.0000000000,33.5000000000,1592671590.0000000000,16.0000000000,46.0000000000
20,64.0000000000,34.8000000000,1592668003.0000000000,15.0000000000,46.0000000000,65.0000000000,33.5000000000,1592671601.0000000000,16.0000000000,46.0000000000
21,64.0000000000,34.8000000000,1592668013.0000000000,15.0000000000,46.0000000000,65.0000000000,33.5000000000,1592671611.0000000000,16.0000000000,46.0000000000
22,64.0000000000,34.8000000000,1592668023.0000000000,15.0000000000,47.0000000000,66.0000000000,33.5000000000,1592671621.0000000000,16.0000000000,47.0000000000
23,64.0000000000,34.8000000000,1592668034.0000000000,15.0000000000,47.0000000000,67.0000000000,33.5000000000,1592671632.0000000000,16.0000000000,47.0000000000
24,64.0000000000,34.8000000000,1592668044.0000000000,15.0000000000,47.0000000000,65.0000000000,33.5000000000,1592671642.0000000000,16.0000000000,47.0000000000
25,64.0000000000,34.8000000000,1592668054.0000000000,15.0000000000,47.0000000000,65.0000000000,33.5000000000,1592671652.0000000000,16.0000000000,47.0000000000
26,64.0000000000,34.8000000000,1592668065.0000000000,15.0000000000,47.0000000000,65.0000000000,33.5000000000,1592671663.0000000000,16.0000000000,47.0000000000
27,64.0000000000,34.8000000000,1592668075.0000000000,15.0000000000,47.0000000000,65.0000000000,33.5000000000,1592671673.0000000000,16.0000000000,47.0000000000
28,64.0000000000,34.8000000000,1592668085.0000000000,15.0000000000,48.0000000000,65.0000000000,33.5000000000,1592671683.0000000000,16.0000000000,48.0000000000
29,64.0000000000,34.8000000000,1592668096.0000000000,15.0000000000,48.0000000000,65.0000000000,33.5000000000,1592671694.0000000000,16.0000000000,48.0000000000
...,...,...,...,...,...,...,...,...,...,...
5385,64.0000000000,34.8000000000,1592736482.0000000000,10.0000000000,48.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5386,64.0000000000,34.8000000000,1592736492.0000000000,10.0000000000,48.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5387,64.0000000000,34.8000000000,1592736502.0000000000,10.0000000000,48.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5388,64.0000000000,34.8000000000,1592736513.0000000000,10.0000000000,48.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5389,64.0000000000,34.8000000000,1592736523.0000000000,10.0000000000,48.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5390,64.0000000000,34.8000000000,1592736533.0000000000,10.0000000000,48.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5391,64.0000000000,34.8000000000,1592736575.0000000000,10.0000000000,49.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5392,65.0000000000,34.6000000000,1592736585.0000000000,10.0000000000,49.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5393,65.0000000000,34.6000000000,1592736596.0000000000,10.0000000000,49.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5394,65.0000000000,34.6000000000,1592736606.0000000000,10.0000000000,50.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5395,65.0000000000,34.6000000000,1592736616.0000000000,10.0000000000,50.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5396,65.0000000000,34.6000000000,1592736627.0000000000,10.0000000000,50.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5397,65.0000000000,34.6000000000,1592736637.0000000000,10.0000000000,50.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5398,65.0000000000,34.6000000000,1592736647.0000000000,10.0000000000,50.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5399,64.0000000000,34.6000000000,1592736658.0000000000,10.0000000000,50.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5400,64.0000000000,34.6000000000,1592736668.0000000000,10.0000000000,51.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5401,64.0000000000,34.6000000000,1592736679.0000000000,10.0000000000,51.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5402,64.0000000000,34.6000000000,1592736689.0000000000,10.0000000000,51.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5403,64.0000000000,34.6000000000,1592736699.0000000000,10.0000000000,51.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5404,64.0000000000,34.6000000000,1592736710.0000000000,10.0000000000,51.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5405,64.0000000000,34.6000000000,1592736720.0000000000,10.0000000000,52.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5406,64.0000000000,34.6000000000,1592736731.0000000000,10.0000000000,52.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5407,64.0000000000,34.6000000000,1592736741.0000000000,10.0000000000,52.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5408,64.0000000000,34.6000000000,1592736751.0000000000,10.0000000000,52.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5409,64.0000000000,34.6000000000,1592736762.0000000000,10.0000000000,52.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5410,64.0000000000,34.6000000000,1592736772.0000000000,10.0000000000,52.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5411,64.0000000000,34.6000000000,1592736782.0000000000,10.0000000000,53.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5412,64.0000000000,34.7000000000,1592736793.0000000000,10.0000000000,53.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5413,63.0000000000,34.8000000000,1592736813.0000000000,10.0000000000,53.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000
5414,64.0000000000,34.8000000000,1592736824.0000000000,10.0000000000,53.0000000000,61.0000000000,34.8000000000,1592741059.0000000000,12.0000000000,4.0000000000